body {
    background-color: hsl(240, 5%, 20%);
    color: hsl(60, 30%, 85%);
    margin: 0px;
    padding: 0px;
    font-size: .85rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    font-family: 'Google Sans', sans-serif;
}

input[type=button] {
    background-color: hsl(240, 5%, 30%);
    border: 0;
    padding: 8px;
    border-radius: 5px;
    color: hsl(60, 20%, 85%);
    font-weight: bold;
    margin: 18px 10px;
}

.class-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 8px;
    gap: 8px;
}

.schedule-container {
    background-color: hsl(240, 5%, 25%);
    border-radius: 8px;
}

.class-container h2 {
    padding: 16px;
    background-color: hsl(240, 5%, 35%);
    border-radius: 8px;
    color: hsl(60, 20%, 95%);

}

.non-period {
    display: flex;
    flex-direction: column ;
    flex-grow: 2;
}

.non-period p{
    margin-bottom: 0px;
}

.teacher-name {
    font-weight: bold;
}

a .schoolinks-button {
    background-color: hsl(60, 100%, 65%);
    color: hsl(0,0%,0%);
}

a .link-button {
    background-color: hsl(2, 59%, 32%);
}

.user-input-JSON {
    background-color: hsl(240, 5%, 35%);
    min-width: 300px;
    border: 2px solid hsl(60, 10%, 95%);
    border-radius: 4px;
    color: hsl(60, 20%, 85%);
}

input[type=button].schedule-button {
    background-color: hsl(120, 59%, 50%);
    color: hsl(0, 50%, 5%);
}

.content {    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 12px;
    padding: 8px;
    background-color: hsl(240, 5%, 30%);
    text-align: center;
}